@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Kelly Slab';
    font-style: normal;
    font-weight: 400;
    src: local('KellySlab'), local('KellySlab-Regular'), url(../fonts/KellySlab-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Biko';
    font-style: normal;
    font-weight: 400;
    src: local('Biko'), local('Biko-Regular'), url(../fonts/Biko-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis'), local('Dosis-Regular'), url(../fonts/Dosis-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Fertigo';
    font-style: normal;
    font-weight: 400;
    src: local('Fertigo'), local('Fertigo-Regular'), url(../fonts/Fertigo-Regular.woff) format('woff');
}

