/*

	Site Name: PageScroller Theme Builder
	Site URI: http://www.pagescroller.com
	Author: Dairien Boyd

	--------------------------------
	
	1.	Document Styles
	2.	Page Structure
	3.	Global Classes
	4.	Home
	5.	Work
	6.	Our History
	7.	Contact Us
	8.	Theme Builder
	9.	Footer

*/

/*---------- 1. DOCUMENT STYLES [start] ----------*/

/*:::::::::: [ STANDARD NAV STYLES ] - BEGIN ::::::::::*/

.pageScrollerNav{
	z-index: 4;
}

/* Universal Styles */

.standardNav {
	position: fixed !important;
	overflow: visible;
	bottom: 0;
	right: 0;
	padding: 3px;
    font-size: 12px;
}

.standardNav ul{
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
}

.standardNav li {
	display: inline-block;
}

.standardNav li a{
	display: block;	
	font-weight: normal;
	padding: 2px 3px;
	text-decoration: none;
	text-align: center;
}

.standardNav li.link_1,
.standardNav li.link_1 a{
	-webkit-border-top-left-radius: 9px !important;
	-webkit-border-bottom-left-radius: 9px !important;
	-moz-border-radius-topleft: 9px !important;
	-moz-border-radius-bottomleft: 9px !important;
	border-top-left-radius: 9px !important;
	border-bottom-left-radius: 9px !important;
}

.standardNav li.link_last,
.standardNav li.link_last a{
	border-right:none !important;
	-webkit-border-top-right-radius: 9px !important;
	-webkit-border-bottom-right-radius: 9px !important;
	-moz-border-radius-topright: 9px !important;
	-moz-border-radius-bottomright: 9px !important;
	border-top-right-radius: 9px !important;
	border-bottom-right-radius: 9px !important;
}

.standardNav li.active a{
	filter: none;
	font-weight: bold;
}

.standardNav li a:hover{
	text-decoration: none;
}

/* Light Styles */

.standardNav.light ul,
.standardNav ul{
	border: 5px solid #fff;
	background: #fff;
}

.standardNav li a,
.standardNav.light li a{
	color: #666;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#f3f3f3 100%); /* IE10+ */
	background: linear-gradient(top,  #f9f9f9 0%,#f3f3f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #fcfcfc;
}

.standardNav li,
.standardNav.light li{
	border-right: 1px solid #ebeded;
}

.standardNav li a:hover,
.standardNav.light li a:hover{
	color: #444;
}

.standardNav li.active a,
.standardNav.light li.active a{
	background: #fff;
	color: #333;
}

/* Dark Styles */

.standardNav.dark ul{
	border: 5px solid #000;
	background: #000;
}

.standardNav.dark li a{
	color: #666;
	background: #111111; /* Old browsers */
	background: -moz-linear-gradient(top,  #1a1a1a 0%, #111111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(100%,#111111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1a1a1a 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1a1a1a 0%,#111111 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1a1a1a 0%,#111111 100%); /* IE10+ */
	background: linear-gradient(top,  #1a1a1a 0%,#111111 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #1c1c1c;
}

.standardNav.dark li{
	border-top: 1px solid #000;
}

.standardNav.dark li a:hover{
	color: #999;
}

.standardNav.dark li.active a{
	background: #000;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0,0,0,.8);
}


/*:::::::::: [ STANDARD NAV STYLES ] - END ::::::::::*/


/*:::::::::: [ ARROW STYLES ] - BEGIN ::::::::::*/

#arrow-controls{
	position: fixed;
	z-index: 999;
	height: 94%;
	top: 3%;
	right: 5%;
	width: 20px;
	text-align: center;
	display: block;
}

#arrow-controls.left{
	right: inherit;
	overflow: visible;
	left: 3%;
}

#arrow-controls a{
	display: block;
	position: absolute;
	padding: 12px 10px 5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
}

#arrow-controls.light a{
	border: 7px solid #fff;
	background: #f8f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f8f6f6 0%, #e8e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f6f6), color-stop(100%,#e8e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* IE10+ */
	background: linear-gradient(top,  #f8f6f6 0%,#e8e7e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f6f6', endColorstr='#e8e7e7',GradientType=0 ); /* IE6-9 */
}

#arrow-controls.dark a{
	border: 7px solid #1c1c1c;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .3);
	background: #f8f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #3f3f3f 0%, #292929 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#292929)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3f3f3f 0%,#292929 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3f3f3f 0%,#292929 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3f3f3f 0%,#292929 100%); /* IE10+ */
	background: linear-gradient(top,  #3f3f3f 0%,#292929 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#292929',GradientType=0 ); /* IE6-9 */
}

#arrow-controls a:hover{
	text-decoration: none;
	color: #fff;
}

#arrow-controls a.next{
	bottom: 0;
}

#arrow-controls a.prev{
	top: 0;
}

/*:::::::::: [ ARROW STYLES ] - END ::::::::::*/
