@viewport {
    min-zoom: 1;
    zoom: 1;
    max-zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 15px;
    color: #fff;
    background: #f7f7f7 url(../images/hexellence.png) repeat top left;
    color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Biko', Calibri, Arial, sans-serif;
}

.slide > h2, h2.title {
    text-align: left !important;
    font-size: 2.6em;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    border-bottom: 3px solid #000000;
}

.slide h3 {
    font-size: 2em;
}

a {
    color: #fff;
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.slide {
    position: relative;
    top: 0;
    left: 0;

    width: 1000px;
    background-color: #FFFFFF;

    -webkit-transform-style: preserve-3d;

    border: 1px solid #fafafa;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(128, 128, 128, .1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(128, 128, 128, .1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(128, 128, 128, .1) inset;
}

.bubbles-container {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.bubbles {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.bubble-background {
    fill: none;
    pointer-events: all;
}

.bubble-10, .bubble-9 {
    fill: rgba(218, 84, 48, 0.3);
    stroke: rgba(218, 84, 48, 1.0);
    stroke-width: 1.5px;
}

.bubble-8, .bubble-7 {
    fill: rgba(254, 224, 116, 0.3);
    stroke: rgba(254, 224, 116, 1.0);
    stroke-width: 1.5px;
}

.bubble-6, .bubble-5 {
    fill: rgba(175, 78, 150, 0.3);
    stroke: rgba(175, 78, 150, 1.0);
    stroke-width: 1.5px;
}

.bubble-4, .bubble-3 {
    fill: rgba(104, 188, 49, 0.3);
    stroke: rgba(104, 188, 49, 1.0);
    stroke-width: 1.5px;
}

.bubble-1, .bubble-2 {
    fill: rgba(32, 145, 207, 0.3);
    stroke: rgba(32, 145, 207, 1.0);
    stroke-width: 1.5px;
}

.bubble-hover .bubble-10, .bubble-hover .bubble-9 {
    fill: rgba(218, 84, 48, 0.6);
    stroke-width: 2.5px;
}

.bubble-hover .bubble-8, .bubble-hover .bubble-7 {
    fill: rgba(254, 224, 116, 0.6);
    stroke-width: 2.5px;
}

.bubble-hover .bubble-6, .bubble-hover .bubble-5 {
    fill: rgba(175, 78, 150, 0.6);
    stroke-width: 2.5px;
}

.bubble-hover .bubble-4, .bubble-hover .bubble-3 {
    fill: rgba(104, 188, 49, 0.6);
    stroke-width: 2.5px;
}

.bubble-hover .bubble-1, .bubble-hover .bubble-2 {
    fill: rgba(32, 145, 207, 0.6);
    stroke-width: 2.5px;
}

a.bubble-label {
    font-family: 'Dosis', Calibri, Arial, sans-serif;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 1em;
    position: absolute;
    color: #000000;
}

.bubble-label .bubble-label-value {
    font-size: 0.9em;
    white-space: nowrap;

}

.chart {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.qrcode {
    position: relative;
    width: 80%;
    max-width: 250px;
    margin: 0 auto;

}

.qrcode object {
    width: 100%;
}

.qrcode-link {
    margin-top: 4px;
}

.qrcode-link a {
    color: #478fca !important;
}

.dark {
    color: #333333 !important;
}

.white {
    color: #ffffff !important;
}

.red {
    color: #dd5a43 !important;
}

.light-red {
    color: #ff7777 !important;
}

.blue {
    color: #478fca !important;
}

.light-blue {
    color: #93cbf9 !important;
}

.green {
    color: #69aa46 !important;
}

.light-green {
    color: #b0d877 !important;
}

.orange {
    color: #ff892a !important;
}

.light-orange {
    color: #fcac6f !important;
}

.orange2 {
    color: #feb902 !important;
}

.purple {
    color: #a069c3 !important;
}

.pink {
    color: #c6699f !important;
}

.pink2 {
    color: #d6487e !important;
}

.brown {
    color: #a52a2a !important;
}

.grey {
    color: #777777 !important;
}

.light-grey {
    color: #bbbbbb !important;
}

.slide-table {
    width: 98%;
    max-width: 98%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.slide-table.whoami th, .slide-table.tc th {
    font-family: 'Kelly Slab', 'Myriad Pro', Arial, sans-serif;
    font-size: 1.8em;
}

.slide-table.whoami td, .slide-table.whoami th {
    text-align: center;
    vertical-align: middle;
}

.slide-table.whoami td.number {
    text-align: center;
    width: 40%;
}

.slide-table.whoami td.chart-container {
    text-align: center;
    width: 60%;
    max-width: 60%;
}

.slide-table.whoami td.number span {
    font-size: 1.6em;
}

.slide-table.tc th {
    text-align: center;
}

.slide-table.tc td.header {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1.5em;
    text-align: right;
    padding-right: 15px;
    border-right: 2px solid #69aa46;
}

.slide-table.tc td {
}

span.color-legend {
    display: inline-block;
    width: 25px;
    margin-right: 5px;
}

.index h3 {
    font-size: 2em;
    margin: 10px;
}

.index div.contact {
    font-size: 1.5em;
    margin: 10px;
}

.why-me {
    width: 50%;
    margin: 0 auto;
    font-size: 2em;
}

.why-me li i {
    margin-right: 25px;
}

.why-me li {
    margin-bottom: 20px;
}

.why-me .highlight {
    font-size: 1.2em;
}

.highlight {
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}

h2.title {
    margin-bottom: 0;
}

td.challenges ul {
    margin-left: 10px;
    font-size: 1.3em;
}

td.challenges ul li {
    margin-left: 5px;
    margin-bottom: 8px;
    font-size: 1em;
}

@media only screen
and (max-width: 640px) {
    .pageScrollerNav {
        display: none;
    }
}