.timeline-table {
    width: 95%;
    margin: 10px auto;
    font-family: 'Dosis', Calibri, Arial, sans-serif;
    font-size: 1.2em;
}

.timeline-table th {
    text-align: left;
}

.timeline-table th {
    border-bottom: 2px solid #000000;
}

.events li, .event-lengeds li {
    height: 2em;
    margin-top: 3px;
    margin-bottom: 2px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

.events li div.event {
    display: inline-block;
    text-align: center;
}

.events li {
    color: #FFFFFF !important;
}

.event-lengeds {
    margin-left: 2em;
}

.event-lengeds li {
    color: #000000 !important;
}

.event-lengeds li div span {
    color: #FFFFFF !important;
    width: 35px;
    display: inline-block;
    text-align: center;

    margin-right: 5px;
}