<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Manuel Álvarez Álvarez</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="css/timeline.css"/>
    <link rel="stylesheet" type="text/css" href="css/pagescroller.skin.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="css/styleIE.css"/>
    <![endif]-->
    <script type="text/javascript" src="js/modernizr.custom.11333.js"></script>
</head>
<body>

<section data-section-title="Index" class="fullscreen">
    <div class="slide center index">
        <h2>Manuel Álvarez Álvarez</h2>

        <h3><span class="post">GS-AIS-2014-46-LD</span> <span class="date">(30/06/2014)</span></h3>

        <div class="qrcode">
            <object data="images/qrcode.svg" type="image/svg+xml" data-proportion="1">
                <img src="images/qrcode.png"/>
            </object>
        </div>
        <div class="qrcode-link blue">
            <a href="http://maacern.bitbucket.org/">(http://maacern.bitbucket.org/)</a>
        </div>
        <div class="contact">manuel.alvarez.alvarez<span>&#64;</span>cern<span>&#46;</span>ch</div>
    </div>
</section>

<div class="fullscreen">&nbsp;</div>

<section data-section-title="Timeline" class="fullscreen">
    <div class="slide">
        <h2 class="title">Timeline</h2>

        <div id='timeline'>
        </div>
    </div>
</section>

<div class="fullscreen">&nbsp;</div>

<section data-section-title="Who am I?" class="fullscreen">
    <div class="slide">
        <h2>Who am I?</h2>
        <table class="slide-table whoami">
            <tbody>
            <tr>
                <td class="number"><span class="wow slideInLeft blue">8</span> years of experience</td>
                <td class="chart-container" rowspan="5">
                    <div data-proportion="1.5">
                        <div id="technologies" class="chart"
                             data-chart="Bar"
                             data-values="technologies"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="number"><span class="wow slideInLeft green">1</span> year of freelance experience</td>
            </tr>
            <tr>
                <td class="number"><span class="wow slideInLeft red">Passionate</span> about technologies</td>
            </tr>
            <tr>
                <td class="number"><span class="wow slideInLeft orange">All-in-one</span> developer (server, gui, ...)
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<div id="projects"></div>

<div class="fullscreen">&nbsp;</div>

<section data-section-title="Why me?" class="fullscreen">
    <div class="slide">
        <h2>Why me?</h2>

        <div class="why-me">
            <ol>
                <li><i class="blue fa fa-thumbs-o-up wow slideInLeft"></i><span class="wow slideInRight">Fully <span
                        class="highlight">qualified</span></span></li>
                <li><i class="blue fa fa-thumbs-o-up wow slideInLeft"></i><span class="wow slideInRight">Avid <span
                        class="highlight">learner</span></span></li>
                <li><i class="blue fa fa-thumbs-o-up wow slideInLeft"></i><span class="wow slideInRight"><span
                        class="highlight">Team</span> player</span></li>
                <li><i class="blue fa fa-thumbs-o-up wow slideInLeft"></i><span class="wow slideInRight"><span
                        class="highlight">Flexible</span> worker</span></li>
            </ol>
        </div>
    </div>
</section>

<script id="years-template" type="text/x-handlebars-template">
    <table class="timeline-table wow slideInLeft">
        <thead>
        <tr>
            {{#each years}}
            <th>{{{this}}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="{{years.length}}">
                <ul class="events">
                    {{#each events}}
                    <li>
                        <div class="event"
                             style="background-color: {{{background}}}; margin-left: {{left}}% !important; width: {{width}}% !important">
                            {{index}}
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <ul class="event-lengeds  wow slideInRight">
        {{#each events}}
        <li>
            <div class="legend"><span style="background-color: {{{background}}}">{{index}}</span> {{title}}</div>
        </li>
        {{/each}}
    </ul>
</script>

<script id="project-template" type="text/x-handlebars-template">
    <div class="fullscreen">&nbsp;</div>

    <section data-section-title="{{title}}" class="fullscreen">
        <div class="slide">
            <h2>{{project}}&nbsp;-&nbsp;<span class="wow slideInRight blue">{{year}}</span></h2>
            <table class="slide-table tc">
                <thead>
                <tr>
                    <th colspan="2" class="red">{{description}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2" class="technologies">
                        <div class="bubbles-container" data-proportion="3">
                            <div id="{{id}}" class="bubbles" data-bubbles="{{technologies}}"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="header">Challenges</td>
                    <td class="challenges">
                        <ul class="wow slideInRight">
                            {{#each challenges}}
                            <li><i class="fa fa-angle-right green"></i>&nbsp;&nbsp;{{{title}}}</li>
                            {{/each}}
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</script>

<script type="text/javascript" src="data/timeline.js"></script>
<script type="text/javascript" src="data/technologies.js"></script>
<script type="text/javascript" src="data/projects.js"></script>
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/jquery.pagescroller.min.js"></script>
<script type="text/javascript" src="js/handlebars-v1.3.0.js"></script>
<script type="text/javascript" src="js/wow.js"></script>
<script type="text/javascript" src="js/bubbles.js"></script>
<script type="text/javascript" src="js/d3.min.js"></script>
<script type="text/javascript" src="js/highcharts.js"></script>
<script type="text/javascript" src="js/slides.js"></script>
<script type="text/javascript">
    new Slides().init();
</script>
</body>
</html>